html, body {
    position: relative;
    height: 100%;
    overflow: hidden;
    min-width: 600px;
}

/*Para funcionar o scrollspy com affix*/
/*html {
   overflow-x: hidden;
}

body {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    min-width: 600px;
}*/

/*
*    NAVEGAÇÃO
*/

a.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6;
}

.st-selected {
    border-left: 4px solid black;
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.menu.navbar-default .navbar-brand {
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(211, 0, 1, 1);
    padding-top: 6px;
    padding-left: 21px;
    width: 60px;
}

    .menu.navbar-default .navbar-brand > img {
        width: 30px;
        height: auto;
    }

.menu.navbar-default {
    font-size: 13px;
    background-color: black;
    background-image: none;
    border-width: 0px;
    border-radius: 0px;
    height: 40px; /*Quebra o form no responsivo*/
}

    .menu.navbar-default .navbar-nav > li > a {
        color: rgba(255, 255, 255, 1);
        background-color: rgba(129, 6, 8, 1);
    }

        .menu.navbar-default .navbar-nav > li > a:hover,
        .menu.navbar-default .navbar-nav > li > a:focus {
            color: rgba(129, 6, 8, 1);
            background-color: rgba(255, 255, 255, 1);
        }

    .menu.navbar-default .navbar-nav > .active > a,
    .menu.navbar-default .navbar-nav > .active > a:hover,
    .menu.navbar-default .navbar-nav > .active > a:focus {
        color: rgba(129, 6, 8, 1);
        background-color: rgba(255, 255, 255, 1);
    }

    .menu.navbar-default .navbar-toggle {
        border-color: rgba(255, 255, 255, 1);
    }
  
    .menu.navbar-default .navbar-toggle:hover,
    .menu.navbar-default .navbar-toggle:focus {
        background-color: rgba(255, 255, 255, 1);
    }

    .menu.navbar-default .navbar-toggle .icon-bar {
        background-color: rgba(255, 255, 255, 1);
    }

    .menu.navbar-default .navbar-toggle:hover .icon-bar,
    .menu.navbar-default .navbar-toggle:focus .icon-bar {
        background-color: rgba(129, 6, 8, 1);
    }

    .menu.navbar-default .navbar-text {
        color: #fff;
        font-weight: bolder;
        text-transform: none;
        margin-top: 2px;
        font-size: smaller;
    }

.navbar-nav {
    margin: 0px !important;
}

.popover-content {
    font-size: smaller;
    padding: 4px 8px;
    width: 240px;
}

.popover-title {
    font-size: 12px;
    padding: 6px 7px;
}

/*
*   BLOCOS
*/

.wrapper {
    padding-top: 45px;
    height: 100%;
}

.block {
    height: 100%;
}

.block-content {
    overflow: auto;
    height: 93%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    background-color: #F6F8FA;
}

.block-pagination {
    background-color: rgba(255, 255, 255, 1);
    height: 10%;
    overflow: hidden;
    float: right;
}

/*
*   BLOCO ESQUERDO
*/

.left-block {
    background-color: rgba(254, 254, 254, 1);
}

/*
*   BLOCO DIREITO
*/

.right-block {
    overflow: auto;
    height: 100%;
}

    .right-block .block-content {
        padding: 10px 20px 20px 10px;
    }

.media {
    padding: 0 15px 15px 0px;
}

.gallery {
    padding-top: 20px;
    text-align: center;
}

.gallery-image {
    padding: 2px;
}

.gallery-file:not(:last-child) {
    margin-right: 25px;
}

.gallery-file img {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #e5e5e5;
}

.gallery-file-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.gallery-file img.selected {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(101,171,245,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(101,171,245,1);
    box-shadow: 0px 0px 5px 1px rgba(101,171,245,1);
}

.gallery-btn-close {
    display: inherit;
    float: right;
    position: fixed;
    border-radius: 0;
}

.gallery-upload {
    padding-top: 20px;
}

.gallery-upload-image img {
    width: 100px;
    height: 100%;
}

.gallery-upload-progress {
    padding-top: 25px;
}


.media-thumbnail {
    text-align: center;
    padding: 5px 20px 5px 20px;
}

.titlebar {
    border: 1px solid transparent;
    min-height: 40px;
    position: relative;
    background-color: #E6E8EA;
}

#titlebar-buttons-target {
    box-sizing: border-box;
    float: right;
    padding-top: 3px;
}

#titlebar-name-target {
    box-sizing: border-box;
    float: left;
    font-size: 14px;
    padding: 10px 0px 8px 10px;
    font-weight: bolder;
}

.navbar-brand {
    float: left;
    font-size: 18px;
    height: 45px;
    line-height: 20px;
    padding: 15px;
}

.spacer-horizontal {
    margin-bottom: 20px;
}

.table .newRow .btn,
.table .datatable-actions .btn {
    margin-left: 2px;
}

table.dataTable, table.dataTable th, table.dataTable td {
    box-sizing: inherit;
}

.center-btn-actions {
    text-align: center;
}

/*
*   MOBILE
*/

@media (max-width: 1214px) {
    
    .menu.navbar-default .navbar-header {
        float: none;
    }
    
    .menu.navbar-default .navbar-left,.navbar-right {
        float: none !important;
    }
    
    .menu.navbar-default .navbar-toggle {
        display: block;
    }
    
    .menu.navbar-default .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    
    .menu.navbar-default .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    
    .menu.navbar-default .navbar-collapse.collapse {
        display: none!important;
    }
    
    .menu.navbar-default .navbar-form {
        padding: 0px !important;
    }
    
    .menu.navbar-default .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    
    .menu.navbar-default .navbar-nav>li {
        float: none;
    }
    
    .menu.navbar-default .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .menu.navbar-default .collapse.in{
        display:block !important;
    }
    .menu.navbar-default .navbar-text {
        padding-left: 40%;
    }

    .menu.navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: rgba(255, 255, 255, 1) !important;
        background-color: rgba(129, 6, 8, 1) !important;
    }

    .menu.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .menu.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: rgba(129, 6, 8, 1) !important;
        background-color: rgba(255, 255, 255, 1) !important;
    }

    .menu.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .menu.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .menu.navbar-default  .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: rgba(129, 6, 8, 1) !important;
        background-color: rgba(255, 255, 255, 1) !important;
    }
}

/*@media only screen and (max-width : 768px) {
    .menu.navbar-default .navbar-text {
        padding-left: 40%;
    }

    .gallery-image img {
        width: 100%;
        height: 100%;
    }
}*/

@media only screen and (max-width : 991px) {
    .gallery-image img {
        width: 100%;
        height: 100%;
        min-width: 280px;
        min-height: 210px;
    }
}

.btn-grid {
    padding: 5px 10px;
}

.fieldset {
    border: 1px solid #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

    .fieldset legend {
        font-size: 14px !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
    }

.dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 111px;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;
}

.panel-body {
    padding: 5px;
}

.panel-heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0 0 4px;
    text-align: center;
}

.panel-title {
    color: inherit;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 10px;
    padding-top: 4px;
    text-align: left;
}

.form-inline .select2-container--bootstrap {
    display: inline-table;
}

.navbar-nav > li > a {
    padding-bottom: 13px;
    padding-top: 12px;
}

.navbar {
    min-height: 45px;
}

.geenFieldSetTitle {
}

.geenFieldSet .panel-heading {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #ddd !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0;
    margin-top: -10px;
}

.geenFieldSet .panel-title {
    color: inherit;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
    padding-left: 0px;
    padding-top: 0px;
    text-align: left;
}

.geenFieldSet .panel-body {
    padding: 2px 0 0;
}

.geenFieldSet .navbar-btn {
    margin-bottom: 0px;
    margin-top: 0px;
}

.timeline-info-cliente {
    clear: both;
}

/*.timeline-body {
    border-bottom: 1px solid #ccc;
    clear: both;
}
.timeline-box {
    float: left;
}*/

.img-contato-timeline {
    float: left;
    margin-right: 5px;
    margin-left: 20px;
    margin-top: -1px;
}

.title-ocorrencia {
    font-size: large;
    font-style: oblique;
    clear: both;
}

.subtitle-ocorrencia {
    clear: both;
    font-size: small;
}

.timeline-box-passos {
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.timeline-hora {
    float: right;
    font-size: x-small;
    margin-right: 5px;
}

.time-subtitle-ocorrencia {
    float: right;
    font-size: x-small;
    margin-left: 3px;
    margin-top: 3px;
}

.title-ocorrencia-info {
    float: left;
    font-size: medium;
    font-style: normal;
    margin-right: 5px;
    margin-top: 2px;
}

.img-tipo-ocorrencia-timeline {
    float: left;
    margin-right: 5px;
    margin-top: -1px;
}

.numero {
    text-align: right;
}

.btn-passo-responsive {
    white-space: normal !important;
    word-wrap: break-word;
    width: 130px;
    height: 48px;
}

/*
* Timeline
*/

.timeline-wrapper {
    background-color: #fff; /*#F0F3F7*/
    margin-bottom: 4px;
    padding: 15px;
    border: 0;
}

.timeline-header {
    cursor: pointer;
}

.timeline-title {
    display: flex;
    font-weight: bolder;
}

.timeline-subtitle {
}

.timeline-icon i {
    float: left;
    margin-right: 5px;
    margin-top: -1px;
    font-size: 20px;
}

.timeline-date {
    text-align: right;
}

.timeline-box-header {
}

.timeline-box {
    padding-top: 10px;
    margin-top: 10px;
}

.timeline-panel {
    border-radius: 0;
    margin-right: 5px;
}

.timeline-panel-heading {
    background-color: #F0F3F7 !important;
    padding: 4px;
    font-weight: bold;
    background-image: none !important;
}

.timeline-box-title {
    line-height: 32px;
    width: 100%;
    font-weight: bold;
}

.timeline-box .timeline-icon i {
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 100%;
    padding: 10px;
    margin-left: 20px;
}

.timeline-box-steps {
    margin-left: 30px;
    padding-left: 10px;
    margin-top: 15px;
}

.timeline-carousel-controls {
    text-align: right;
}

.timeline-carousel-control {
    background-image: none !important;
}

    .timeline-carousel-control i {
        color: rgba(129, 6, 8, 1);
    }

/* Metrics */

.metrics-header {
    margin-top: 20px;
}

.metrics-item {
    border-bottom: 1px solid #D9DEE4;
    padding: 0 10px 0 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 20px;
}

    .metrics-item:before {
        content: "";
        position: absolute;
        left: 0;
        height: 65px;
        border-left: 2px solid #E6E8EA;
        margin-top: 10px;
    }

.metrics-item-title {
}

.metrics-item .metrics-item-count {
    font-size: 30px;
    line-height: 47px;
    font-weight: 600;
}

.metrics-item .metrics-item-count-sub {
}

.metrics-graph {
    background-color: #fff;
    margin-top: 40px;
    padding: 0px 10px;
    padding-bottom: 30px;
}

.metrics-graph-title {
    padding: 0px 5px 7px;
    border-bottom: 2px solid #E6E8EA;
}

    .metrics-graph-title h3,
    .metrics-graph-title h4 {
        font-weight: bold;
    }

.metrics-graph-date {
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

/* Tables */

.table-red > thead {
    background-color: #ed1c23;
    color: #fff;
}

.table-ranking {
    border: 1px solid #e9e9e9;
}

    .table-ranking th {
        text-align: center;
    }

.table-ranking {
    border: 0 !important;
}

    .table-ranking > thead th:first-child.invisble-th {
        visibility: hidden;
        border: 0;
    }

.table-striped.table-red > tbody > tr:nth-child(even) > td,
.table-striped.table-red > tbody > tr:nth-child(even) > th {
    background-color: #f2dcdb;
}

.table-black > thead {
    background-color: #000;
    color: #fff;
}

.table-striped.table-black > tbody > tr:nth-child(odd) > td,
.table-striped.table-black > tbody > tr:nth-child(odd) > th {
    background-color: #f2f2f2;
}

.table-striped.table-black > tbody > tr:nth-child(even) > td,
.table-striped.table-black > tbody > tr:nth-child(even) > th {
    background-color: #d9d9d9;
}

.table-blue > thead {
    background-color: #4f81bd;
    color: #fff;
}

.table-striped.table-blue > tbody > tr:nth-child(odd) > td,
.table-striped.table-blue > tbody > tr:nth-child(odd) > th {
    background-color: #fff;
}

.table-striped.table-blue > tbody > tr:nth-child(even) > td,
.table-striped.table-blue > tbody > tr:nth-child(even) > th {
    background-color: #dce6f0;
}

.toupper {
    text-transform: uppercase;
}


/* Order List*/
.europa-order-ul {
    padding-left: 0px;
}

.europa-order-li {
    list-style-type: none;
    padding: 5px;
    background: transparent;
}

.europa-state-highlight {
    /*background-color: #810608;*/
    list-style-type: none;
    padding: 15px;
    border-color: #810608;
}

.ui-sortable-helper {
    color: #810608;
    border-color: #810608;
}

.europa_detail {
    cursor: pointer;
}

.europa_detail_skype a {
    cursor: pointer;
    text-decoration: none;
}

.fc-now-indicator {
    border: 1px solid blue;
}